<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>addStudent</title>
</head>
<body>
    <div th:replace="navigation :: navigation"></div>
    <div class="container">
        <h2 class="d-flex justify-content-center">New Student</h2>
        <div class="d-flex justify-content-center">
            <form action='addStudent' method='post'
                name="Add new Student" class='card p-3 bg-light'
                style="width: 50%;">
                <div class="form-group row">
                    <label for="firstName"
                        class="col-sm-5 col-form-label col-form-label-lg">First
                        Name</label>
                    <div class="col-sm-7">
                        <input type="text"
                            class="form-control-plaintext card p-3 bg-light"
                            id="firstName" name="firstName" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastName"
                        class="col-sm-5 col-form-label col-form-label-lg">Last
                        Name</label>
                    <div class="col-sm-7">
                        <input type="text"
                            class="form-control-plaintext card p-3 bg-light"
                            id="lastName" name="lastName" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="group"
                        class="col-sm-5 col-form-label col-form-label-lg">Group</label>
                    <div class="col-sm-7">
                        <select id="group" name="groupId"
                            class="form-control">
                            <option th:value="0" text="" selected></option>
                            <option th:each="group : ${groups}"
                                th:value="${group.id}"
                                th:text="${group.title}"></option>                            
                        </select>
                    </div>
                </div>
                <button type="submit" value="Add"
                    class="btn btn-outline-info">Add</button>
            </form>
        </div>
        <th:block th:if="${message != null}"
            class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="alert alert-dark alert-dismissible"
                    style="width: 50%;">
                    <form action='groups' method='get'>
                        <button type="submit" class="close"
                            data-dismiss="alert">&times;</button>
                    </form>
                    <strong class="text-center" th:text="${message}"></strong>
                </div>
            </div>
        </th:block>
    </div>
</body>
</html>