<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>edit_group</title>
</head>
<body>
    <div th:replace="navigation :: navigation"></div>
    <div class="container">
        <h2 class="d-flex justify-content-center" th:group="group"
            th:text="*{group.id}==0 ? 'Add Group' : 'Update Group'"></h2>
        <th:block th:if="${message == null}"
            class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <form th:group="group" th:action="edit-group"
                    method='post' name="Add new Group"
                    class='card p-3 bg-light' style="width: 50%;">
                    <div class="form-group row">
                        <label for="id"
                            class="col-sm-5 col-form-label col-form-label-lg"></label>
                        <div class="col-sm-7">
                            <input type="hidden"
                                class="form-control-plaintext card p-3 bg-light"
                                id="id" name="id" th:value="${group.id}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title"
                            class="col-sm-5 col-form-label col-form-label-lg">Title</label>
                        <div class="col-sm-7">
                            <input type="text"
                                class="form-control-plaintext card p-3 bg-light"
                                name="title" th:value="${group.title}"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="year"
                            class="col-sm-5 col-form-label col-form-label-lg">Year</label>
                        <div class="col-sm-7">
                            <input type="number"
                                class="form-control-plaintext card p-3 bg-light"
                                name="year" th:value="${group.year}"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="department"
                            class="col-sm-5 col-form-label col-form-label-lg">Department</label>
                        <div class="col-sm-7">
                            <select id="department" name="departmentId"
                                class="form-control">
                                <option th:value="${group.DepartmentId}"
                                    th:text="${group.DepartmentTitle}"
                                    selected></option>
                                <option
                                    th:each="department : ${departments}"
                                    th:value="${department.id}"
                                    th:text="${department.title}"></option>
                                <option th:value="0" text=""></option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" value="Save"
                        class="btn btn-outline-info">Save</button>
                </form>

            </div>
        </th:block>
        <th:block th:if="${message != null}"
            class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="alert alert-dark alert-dismissible"
                    style="width: 50%;">
                    <form action='groups' method='get'>
                        <button type="submit" class="close"
                            data-dismiss="alert">&times;</button>
                    </form>
                    <strong class="text-center" th:text="${message}"></strong>
                </div>
            </div>
        </th:block>
    </div>
</body>
</html>
