<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>GroupInfo</title>
</head>
<body>
    <div th:replace="navigation :: navigation"></div>
    <div class="container">
        <h2 class="d-flex justify-content-center">Group Info</h2>
        <th:block th:if="${group != null}"
            class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <form action='edit_group' method='get' th:group="group"
                    name="Group Info" class='card p-3 bg-light'
                    style="width: 50%;">
                    <div class="form-group row">
                        <label for="id"
                            class="col-sm-5 col-form-label col-form-label-lg">ID</label>
                        <div class="col-sm-7">
                            <input type="text" readonly
                                class="form-control-plaintext card p-3 bg-light"
                                id="id" th:value="${group.id}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title"
                            class="col-sm-5 col-form-label col-form-label-lg">Title</label>
                        <div class="col-sm-7">
                            <input type="text" readonly
                                class="form-control-plaintext card p-3 bg-light"
                                id="title" th:value="${group.title}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="year"
                            class="col-sm-5 col-form-label col-form-label-lg">Year</label>
                        <div class="col-sm-7">
                            <input type="text" readonly
                                class="form-control-plaintext card p-3 bg-light"
                                id="year" th:value="${group.year}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="department"
                            class="col-sm-5 col-form-label col-form-label-lg">Department</label>
                        <div class="col-sm-7">
                            <input type="text" readonly
                                class="form-control-plaintext card p-3 bg-light"
                                id="department"
                                th:value="${group.DepartmentTitle}">
                        </div>
                    </div>
                    <div
                        class="btn-group btn-group-lg d-flex justify-content-center">
                        <div class="align-self-start">
                            <form action='edit_group' method='get'>
                                <input type="hidden" th:name="id"
                                    th:value="${group.id}" />
                                <button type="submit" value="Update"
                                    class="btn btn-outline-info">Update</button>
                            </form>
                        </div>
                        <div class="align-self-end">
                            <form action='delete_group' method='get'>
                                <input type="hidden" th:name="id"
                                    th:value="${group.id}" />
                                <button type="submit" value="Delete"
                                    class="btn btn-outline-info">Delete</button>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </th:block>
        <th:block th:if="${message != null}"
            class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="alert alert-dark alert-dismissible"
                    style="width: 50%;">
                    <form action='groups' method='get'>
                        <button type="submit" class="close"
                            data-dismiss="alert">&times;</button>
                    </form>
                    <strong class="text-center" th:text="${message}"></strong>
                </div>
            </div>
        </th:block>
    </div>
</body>
</html>
