<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Groups</title>
</head>
<body>
    <div th:replace="navigation :: navigation"></div>
    <div class="container">
        <h2 class="d-flex justify-content-center">Groups</h2>
        <th:block th:if="${groups != null}"
            class="d-flex justify-content-center">
            <table
                class="table table-bordered table-hover table-striped table-condensed table-reflow .table-sm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody th:each="group : ${groups}">
                    <tr>
                        <td>
                            <span th:text="${group.id}"> Id </span>
                        </td>
                        <td>
                            <span th:text="${group.Title}"> Title
                            </span>
                        </td>
                        <td>
                            <span th:text="${group.Year}"> Year </span>
                        </td>
                        <td>
                            <span th:text="${group.DepartmentTitle}">Department</span>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <form action='groupInfo' method='get'>
                                    <input type="hidden" th:name="id"
                                        th:value="${group.id}" />
                                    <button type="submit"
                                        value="Show more"
                                        class="btn btn-outline-info">Show
                                        more</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <form action='addGroup' method='get'>
                    <button button type="submit" value="Show more"
                        class="btn btn-outline-info">Add new
                        group</button>
                </form>
            </div>
        </th:block>
        <th:block th:if="${message != null}"
            class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="alert alert-dark alert-dismissible"
                    style="width: 50%;">
                    <form action='groups' method='get'>
                        <button type="submit" class="close"
                            data-dismiss="alert">&times;</button>
                    </form>
                    <strong class="text-center" th:text="${message}"></strong>
                </div>
            </div>
        </th:block>
    </div>
</body>
</html>
