<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>StudentInfo</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2 class="d-flex justify-content-center">Student Info</h2>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Group Id</th>
                </tr>
            </thead>
            <tbody>
                <tr th:student="student">
                    <td>
                        <span th:text="${student.id}"> id </span>
                    </td>
                    <td>
                        <span th:text="${student.FirstName}">First Name </span>
                    </td>
                    <td>
                        <span th:text="${student.LastName}">Last Name </span>
                    </td>
                    <td>
                        <span th:text="${student.Group.Id}">Group Id</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <div class="d-flex justify-content-center col">
                <a href='students'
                    class="btn btn-outline-info btn-lg btn-block">Students</a>
            </div>
            <div class="d-flex justify-content-center col">
                <a href='main'
                    class="btn btn-outline-info btn-lg btn-block">Main</a>
            </div>
        </div>
    </div>
</body>
</html>
