<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Update Group</title>
</head>
<body>
    <div th:replace="navigation :: navigation"></div>
    <div class="container">
        <h2 class="d-flex justify-content-center">Update group</h2>
        <th:block th:if="${group != null}"
            class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <form th:group="group" name="Update Group"
                    class='card p-3 bg-light' style="width: 50%;">
                    <div class="form-group row">
                        <label for="id"
                            class="col-sm-5 col-form-label col-form-label-lg">ID</label>
                        <div class="col-sm-7">
                            <input type="text" readonly
                                class="form-control-plaintext card p-3 bg-light"
                                id="id" th:value="${group.id}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title"
                            class="col-sm-5 col-form-label col-form-label-lg">Title</label>
                        <div class="col-sm-7">
                            <input type="text" 
                                class="form-control-plaintext card p-3 bg-light"
                                id="title" th:value="${group.title}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="year"
                            class="col-sm-5 col-form-label col-form-label-lg">Year</label>
                        <div class="col-sm-7">
                            <input type="number" 
                                class="form-control-plaintext card p-3 bg-light"
                                id="year" th:value="${group.year}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="department"
                            class="col-sm-5 col-form-label col-form-label-lg">Department</label>
                        <div class="col-sm-7">
                            <input type="text" 
                                class="form-control-plaintext card p-3 bg-light"
                                id="department"
                                th:value="${group.DepartmentTitle}">
                        </div>
                    </div>
                    <button type="submit" value="Update"
                                class="btn btn-outline-info">Save</button>
                </form>
            </div>
        </th:block>
        <th:block th:if="${error != null}"
            class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="alert alert-dark alert-dismissible"
                    style="width: 50%;">
                    <form action='groups' method='get'>
                        <button type="submit" class="close"
                            data-dismiss="alert">&times;</button>
                    </form>
                    <strong class="text-center" th:text="${error}"></strong>
                </div>
            </div>
        </th:block>
    </div>
</body>
</html>
